# This file contains the required environment variables for the application.
# To configure your environment, create a new `.env` file in the project root,
# copy these variables, and populate them with the appropriate values.

openai_apikey=
MOODLE_USERNAME=
MOODLE_PASSWORD=
MOODLE_URL=
claudeApiKey=
perplexity_apikey=
grokKey=
deepseek_apiKey=
GOOGLE_CLIENT_ID=
AI_LOGGING_URL=
CODE_EVAL_URL=
GAME_URL=
REFLECTIONS_URL=
LOCAL_MODEL_DOWNLOAD_URL_PATH=
